.container{
    width: 1024px;
    margin: 0 auto;
}
.heading{
    
    text-align: center;
    
}

.heading p{
    font: 22pt bold;
}

.title{
    background-color: #F0F0F0;
    color: #A4A400;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: sans-serif;
    font: 18pt bold;
    text-decoration: underline;
}

.body{
    background-color: white;
    
}

li{
    font-size: 11pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cookSteps,.ingredients, .directions{
    border-bottom: 2px solid grey;
}
.steps{
    padding-bottom: 15px;
}


.directions span{
    font-weight: bolder;
}

.comment{
    background-color: #FFFFA8 ;
    
}

.user{
    padding-top: 15px;
}

.comment li{
    list-style: none;
    /* align-items: flex-start; */
}
.comment span{
    font-weight: bold;
}
a{
    color: #A4A400;
}
.copyright{
    font-family: monospace;
    text-align: right;
}
#content::before{
    content:"\a";
    white-space: pre;
}

